/* Create styling for the game board, the snake, and the food initially; will include sprite art later depending on my skill level */

body { /* Color of rocks */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(114,103,97);
}

#game-board { /*Colors of a field */
  background-color: rgb(186,155,104);
  border: .5vmin solid rgb(146,145,84);
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake { /* Colors of a Bush Viper */
  background-color: rgb(48,90,112);
  border: .25vmin solid rgb(209,204,51);
}

.food { /*Colors of a field mice */
  background-color: rgb(93,68,57);
  border: .25vmin solid rgba(186,122,108)
}