/* Create styling for the game board, the snake, and the food initially; will include sprite art later depending on my skill level */

@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    padding: 0;
    margin: 0;
    --clr-neon: hsl(317 100% 54%);
}

body {
    background-image: url(assets/background.png);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 90vmin;
    height: 92vmin;
    box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 3vw 0.3vw #7528d6, inset 0 0 1vw 0.3vw #7528d6, inset 0 0 0.3vw 0.1vw #fff7f7;
    border-radius: 10px;
    transform: translateX(82px);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

#scoreBox {
    position: absolute;
    top: 42px;
    right: 86px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em currentColor;
}

#highScoreBox {
    position: absolute;
    top: 95px;
    right: 37px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em currentColor;
}

.head {
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 3vw 0.3vw #7528d6, inset 0 0 1vw 0.3vw #7528d6, inset 0 0 0.3vw 0.1vw #fff7f7;
    border: 2px solid rgb(34, 4, 34);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 3vw 0.3vw #d62828, inset 0 0 1vw 0.3vw #d62828, inset 0 0 0.3vw 0.1vw #fff7f7;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 3vw 0.3vw #d62828, inset 0 0 1vw 0.3vw #d62828, inset 0 0 0.3vw 0.1vw #fff7f7;
    border: .25vmin solid black;
    border-radius: 8px;
}

.info {
    float: left;
    transform: translate(-453px, 5px);
    position: absolute;
    margin-right: 500px;
}

#title {
    box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 3vw 0.3vw #7528d6, inset 0 0 1vw 0.3vw #7528d6, inset 0 0 0.3vw 0.1vw #fff7f7;
    transform: translate(0px, -51px);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em currentColor;
}

#spotify {
  border-radius: 15px;   
  box-shadow: 0 0 .1vw .3vw #fff7f7, 0 0 3vw 0.3vw #7528d6, inset 0 0 1vw 0.3vw #7528d6, inset 0 0 0.3vw 0.1vw #fff7f7;
}

.controls {
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em currentColor;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transform: translateY(32px);
    font-size: 20px;
}

.cite {
  text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em currentColor;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  transform: translateY(32px);
  font-size: 10px;
  position: absolute; left:0px; top:440px;
}

#music {
  border-radius: 30px;   
  box-shadow: 0 0 .1vw .3vw #fff7f7, 0 0 3vw 0.3vw #7528d6, inset 0 0 1vw 0.3vw #7528d6, inset 0 0 0.3vw 0.1vw #fff7f7;
  transform: translateY(32px);
  font-size: 10px;
  position: absolute; left:0px; top:150px;
}